@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* { 
  box-sizing: border-box;
}

p {
  color: #fff;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

h2 {
  font-size: 1.75rem;
  color: #fff;
}

h3 {
  font-size: 1.2rem;
  color: #fff;
}

